@font-face {
    font-family: 'Anton';
    src: url('Anton/Anton-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('Gotham/GOTHAM-MEDIUM.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}