* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #f4f4f4;
    margin: 0 auto;
    max-width: 595px;
}
.banner {
    width: 100%;
    height: auto; 
    padding: 30px 0 30px 0;
    display: flex;
    justify-content: center;
}
.banner-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.profile-border {
   max-width: 100%;
   padding: 5px;
   border: 1px solid #292929;
   display: flex;
   justify-content: center;
   border-radius: 50%;

}
.profile-pic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;


}
.banner-text {
    display: flex;
    justify-content: center;
    width: 100%;
}
.slash {
    background-color: black;
    width: 11px;
    height: 80px;
    max-width: 100%;
    margin: 0 20px;
}
.banner h1, .banner h2 {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 100%;
}
