* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --primary-color: #44787d;
    --background: #f4f4f4;
    --text: #292929;
    --border: #9F9F9F;
    --vector-bg: #000000;
}
body {
    background-color: var(--background);
    margin: 0 auto;
    max-width: 595px;
}
.banner {
    width: 100%;
    height: auto; 
    padding: 30px 0 30px 0;
    display: flex;
    justify-content: center;
    border-bottom:1px solid var(--border) ;
}
.banner-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.profile-border {
   max-width: 100%;
   padding: 5px;
   border: 1px solid var(--text);
   display: flex;
   justify-content: center;
   border-radius: 50%;

}
.profile-pic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;


}
.banner-text {
    display: flex;
    justify-content: center;
    width: 100%;
}
.slash {
    background-color: var(--text);
    width: 11px;
    height: 80px;
    max-width: 100%;
    margin: 0 20px;
}
.banner h1, .banner h2 {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 100%;
    color: var(--text);
}
.bio {
    max-width: 100%;
    gap: 0px;
    display: flex;
}
.sidebar{
    display: flex;
    flex-direction: column;
    border-right: 0.5px solid var(--border);
    max-width: 100%;
    gap: 30px;
    justify-content: space-between;
    padding: 20px 40px;

}
.personal, .contact, .tech-stack {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.info-container {
    border-bottom: 0.2px solid var(--border);
    padding-bottom: 10px;
    max-width: 100%;
    word-wrap: break-word;

}
.info-container a{
    text-decoration: none;
    color: var(--text);
    font-family: 'Gotham', sans-serif;
    font-size: 10px;
    text-transform: none;
    font-weight: 300;
    line-height: 100%;
    margin-top: 5px;
}
.info-container h1{
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 100%;
}
.info-container h2{
    font-family: 'Gotham', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 5px;
    letter-spacing: 0px;
}
.info-container p{
    font-family: 'Gotham', sans-serif;
    font-size: 10px;
    text-transform: none;
    font-weight: 300;
    line-height: 100%;
    margin-top: 5px;
    letter-spacing: 0px;
}
.content{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.profile-container{
    border-bottom: 1px solid var(--border);
    padding-bottom: 10px;
}
.profile-container h1{
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 100%;
}
.profile-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.profile-text p{
    font-family: 'Gotham', sans-serif;
    font-size: 10px;
    text-transform: none;
    font-weight: 400;
    line-height: 120%;
    margin-top: 5px;
    letter-spacing: 0px;
    color: var(--text);
}
.skill-container{
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
}
.skill-range {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-transform: none;
    max-width: 100%;
    width: 70px ;
    height: 70px ;
    background: conic-gradient(from 0deg, #44787d 0deg, #f4f4f4 0deg);
    transition: 2s ease;
    position: relative;
}
.skill span{
    font-family: 'Anton', sans-serif;
    font-size: 16px;
    text-transform: none;
    font-weight: 400;
}
.skill{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    max-width: 100%;
    background-color: var(--background);
    border-radius: 50%;
    position: absolute;

}
.work{
    display: flex;
    width: 100%;
    gap: 20px;
}
.work-container{
    border-bottom: 1px solid var(--border);
    padding-bottom: 10px;
    
}
.work-container h1{
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 100%;
}
.vector-path{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.exp{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.vector {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--text);
    padding: 4px;
    clip-path: polygon(80% 0%, 100% 50%, 80% 100%,0% 100%, 20% 50%, 0% 0%);   
}

.vector span {
    color: var(--background);
    font-family: 'Gotham', sans-serif;
    font-size: 10px;
    line-height: 90%;
    font-weight: 700;
    letter-spacing: 0%;
    margin:0 5px;
}
.work-details{
    display: flex;
    flex-direction: column;
    gap: 44px;
    border-left: 1px solid var(--border);
}
.work-item{
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding-left: 10px;
}
.work-item h2{
    font-family: 'Anton', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 100%;
}
.work-item h3{
    font-family: 'Gotham', sans-serif;
    font-size: 10px;
    text-transform: none;
    font-weight: 300;
    line-height: 100%;
    color: var(--text);
}
